In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import math

In [2]:

# Enable multiple outputs of a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [3]:
tickers = [
  "AAPL", "MSFT", "AMZN", "GOOG", "TSLA", "META", "JPM", "WMT",
  "V", "AVGO", "XOM", "UNH", "MRK", "PG", "CVX", "CSCO",
  "WFC", "BAC", "INTC", "NKE", "LLY", "PM", "VZ", "BA"
]
train = yf.download(tickers, start = "2015-01-01")["Adj Close"]

[*********************100%%**********************]  24 of 24 completed

In [4]:
blue_chip_stocks = [
    # Banking
    "HDFCBANK.NS",
    "ICICIBANK.NS",
    
    # Information Technology
    "TCS.NS",
    "INFY.NS",
    
    # Consumer Goods
    "HINDUNILVR.NS",
    "ITC.NS",
    
    # Energy
    "RELIANCE.NS",
    "ONGC.NS",
    
    # Pharmaceuticals
    "SUNPHARMA.NS",
    "DRREDDY.NS",
    
    # Automobiles
    "MARUTI.NS",
    "TATAMOTORS.NS",
    
    # Metals
    "TATASTEEL.NS",
    "JSWSTEEL.NS",
    
    # Telecom
    "BHARTIARTL.NS",
    
    # FMCG
    "BRITANNIA.NS",
    
    # Utilities
    "NTPC.NS",
    "POWERGRID.NS",
    
    # Diversified
    "BAJFINANCE.NS"
]

train = yf.download(blue_chip_stocks, start = "2015-01-01")["Adj Close"]

[*********************100%%**********************]  19 of 19 completed

In [5]:
train

Ticker,BAJFINANCE.NS,BHARTIARTL.NS,BRITANNIA.NS,DRREDDY.NS,HDFCBANK.NS,HINDUNILVR.NS,ICICIBANK.NS,INFY.NS,ITC.NS,JSWSTEEL.NS,MARUTI.NS,NTPC.NS,ONGC.NS,POWERGRID.NS,RELIANCE.NS,SUNPHARMA.NS,TATAMOTORS.NS,TATASTEEL.NS,TCS.NS
Date,,,,,,,,,,,,,,,,,,,
2015-01-01,339.664307,312.380188,816.541138,2993.718262,440.343414,652.363464,294.004028,390.725128,185.128784,92.810074,3066.699463,79.040016,144.205780,52.042248,382.812195,764.907227,489.917236,13.854478,1054.449707
2015-01-02,334.234131,314.230865,837.517639,3003.882080,446.471802,650.213318,302.349274,398.403534,185.708603,93.093086,3084.003418,80.121986,146.364380,52.668583,381.798981,768.674988,503.038696,14.070286,1068.492310
2015-01-05,333.360626,307.258514,838.097107,2935.811279,442.702271,653.954712,302.975128,394.979858,186.439774,92.871048,3164.967285,79.900040,148.020004,52.725533,377.616821,769.140259,514.833252,14.274104,1052.254272
2015-01-06,332.496765,304.848328,839.011047,2858.555664,435.810699,666.340698,290.123383,386.727631,181.649582,89.483925,3116.728516,77.236710,139.637161,51.548786,360.478943,752.208435,492.816742,13.582150,1013.461365
2015-01-07,339.266388,305.579956,889.768982,2833.984863,437.082672,689.736084,282.278900,388.577881,178.271210,88.103836,3155.741699,79.095490,141.690933,52.288990,368.325775,753.371338,485.395996,13.321812,1001.490112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-08,7098.250000,1435.150024,5568.549805,6534.149902,1635.349976,2587.149902,1235.050049,1661.650024,443.600006,931.900024,12023.599609,377.450012,299.149994,339.399994,3201.800049,1551.480103,1002.599976,172.279999,3993.199951
2024-07-09,7068.049805,1435.550049,5668.850098,6582.850098,1636.500000,2590.149902,1248.250000,1657.150024,452.600006,935.299988,12827.700195,377.049988,297.450012,341.149994,3180.550049,1580.388428,1014.950012,171.800003,3985.500000
2024-07-10,7054.950195,1445.050049,5755.549805,6592.549805,1626.099976,2610.449951,1243.199951,1648.250000,451.450012,925.400024,12772.799805,381.399994,298.149994,346.049988,3168.449951,1593.496948,1005.500000,167.979996,3909.149902
2024-07-11,6950.299805,1437.949951,5761.299805,6594.750000,1621.900024,2608.850098,1238.449951,1652.699951,458.649994,925.000000,12715.200195,377.100006,304.750000,342.799988,3161.300049,1576.750000,1020.799988,168.919998,3923.699951
2024-07-12,7004.299805,1433.250000,5787.049805,6719.450195,1622.699951,2622.250000,1232.900024,1711.750000,459.049988,934.400024,12562.500000,377.149994,307.100006,343.100006,3193.449951,1577.300049,1016.750000,168.690002,4183.950195

In [6]:
pct_change_df = train.pct_change(periods=126).fillna(0)
pct_change_df = pct_change_df.reset_index()

In [7]:
df = pd.DataFrame(columns=["Stock", "returns", "count", "profitable trades count", "loss trades count", "sharpe", "min", "max"])

profits = []
for ticker in pct_change_df.columns[1:]:
    trade = []
    j = 0
    for i in range(len(pct_change_df) - 30):
        if(j!=0):
            j-=1
            continue
        if pct_change_df[ticker].iloc[i] > 0.25:
            j=30
            date1 = pct_change_df.iloc[i].Date
            date2 = date1 + pd.DateOffset(days=30)
            if((date1 in train.index) & (date2 in train.index)):
                diff = train[train.index == date2][ticker].values - train[train.index == date1][ticker].values
                if(diff[0]<-15):
                    diff = np.array([-15])#Stop loss triggered - max loss ... approach can be improved
                if(math.isnan(diff) == False):
                    trade.append(diff)
                    profits.append(diff)
    
    
    if(len(trade)>1):
        count_positive_trades = len(list(filter(lambda x: x > 0, trade)))
        count_negative_trades = len(list(filter(lambda x: x < 0, trade)))

        new_row = {"Stock":ticker,
                   "returns":sum(trade),
                   "count": len(trade),
                   "profitable trades count": count_positive_trades,
                   "loss trades count": count_negative_trades,
                   "sharpe": np.mean(trade)/np.std(trade),
                   "min":min(trade),
                   "max":max(trade)}
        df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

df

/var/folders/y8/mm_hx_9563jfv5g5r_w7kvxr0000gn/T/ipykernel_5969/717355709.py:19: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  if(math.isnan(diff) == False):
/var/folders/y8/mm_hx_9563jfv5g5r_w7kvxr0000gn/T/ipykernel_5969/717355709.py:36: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

,Stock,returns,count,profitable trades count,loss trades count,sharpe,min,max
0,BAJFINANCE.NS,[3221.5592651367188],23,15,8,0.687186,[-15],[652.17578125]
1,BHARTIARTL.NS,[262.1954650878906],16,9,7,0.598493,[-15],[71.14505004882812]
2,BRITANNIA.NS,[959.144775390625],17,8,9,0.554457,[-15],[300.595947265625]
3,DRREDDY.NS,[1833.816650390625],11,6,5,0.726434,[-15],[698.142333984375]
4,HDFCBANK.NS,[379.60272216796875],8,6,2,0.782994,[-15],[181.0040283203125]
5,HINDUNILVR.NS,[288.6561279296875],9,6,3,0.848622,[-15],[85.8802490234375]
6,ICICIBANK.NS,[151.5210418701172],20,9,11,0.268101,[-15],[88.38201904296875]
7,INFY.NS,[301.941162109375],7,6,1,1.037424,[-15],[109.669189453125]
8,ITC.NS,[5.9604644775390625],12,7,5,0.045887,[-15],[18.268524169921875]
9,JSWSTEEL.NS,[229.6707534790039],17,12,5,0.544338,[-15],[85.47271728515625]
10,MARUTI.NS,[2665.95263671875],15,5,10,0.529466,[-15],[1228.69384765625]
11,NTPC.NS,[37.887535095214844],12,6,6,0.221655,[-15],[29.07012939453125]
12,ONGC.NS,[88.46688842773438],13,9,4,0.637313,[-8.2869873046875],[34.840087890625]
13,POWERGRID.NS,[99.62423706054688],13,9,4,0.777098,[-5.819236755371094],[25.17901611328125]
14,RELIANCE.NS,[101.844970703125],15,5,10,0.180457,[-15],[123.378173828125]
15,SUNPHARMA.NS,[92.13629150390625],5,2,3,0.379704,[-15],[110.765380859375]
16,TATAMOTORS.NS,[421.6368408203125],22,13,9,0.622902,[-15],[94.41348266601562]
17,TATASTEEL.NS,[16.66721820831299],21,12,9,0.184171,[-7.173381805419922],[9.065505981445312]
18,TCS.NS,[513.8145751953125],7,4,3,0.687539,[-15],[306.833251953125]

In [8]:
sum(profits)

array([11672.09962177])

In [9]:
np.mean(df.sharpe)

0.5428549726653715